@font-face {
  font-family: "Inter";
  src:
    url("./assets/fonts/ttf/Inter-Light.ttf") format("truetype"),
    url("./assets/fonts/woff2/Inter-Light.woff2") format("woff2"),
    url("./assets/fonts/woff/Inter-Light.woff") format("woff")
  ;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./assets/fonts/ttf/Inter-Regular.ttf") format("truetype"),
    url("./assets/fonts/woff2/Inter-Regular.woff2") format("woff2"),
    url("./assets/fonts/woff/Inter-Regular.woff") format("woff")
  ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./assets/fonts/ttf/Inter-Medium.ttf") format("truetype"),
    url("./assets/fonts/woff2/Inter-Medium.woff2") format("woff2"),
    url("./assets/fonts/woff/Inter-Medium.woff") format("woff")
  ;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./assets/fonts/ttf/Inter-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/woff2/Inter-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/woff/Inter-SemiBold.woff") format("woff")
  ;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./assets/fonts/ttf/Inter-Bold.ttf") format("truetype"),
    url("./assets/fonts/woff2/Inter-Bold.woff2") format("woff2"),
    url("./assets/fonts/woff/Inter-Bold.woff") format("woff")
  ;
  font-weight: 700;
  font-style: normal;
}
